<nav>
    <ul>
        <li><NavLink class="nav-link accent" href="" Match="NavLinkMatch.All">Главное</NavLink></li>
        <li><NavLink class="nav-link accent" href="schedule">График</NavLink></li>
        <li><NavLink class="nav-link accent" href="personal">Персонал</NavLink></li>
        <li><NavLink class="nav-link accent" href="patients">Пациенты</NavLink></li>
    </ul>
</nav>